/* Write your CSS below. Try to make it responsive (i.e. no horizontal scroll) */
nav{
    font-family: 'Acme', sans-serif;
    float:right;
    margin: auto;
    padding: 10px;
    letter-spacing: 3px;
}
section{
    display: flex;
    justify-items: center; justify-content: center;
    direction: row;
    margin: ;
    padding-left:30px;
    text-justify: space-between;
    height: 10%;
    
}
h1,h2,h3,h4{
    font-family: 'Acme', sans-serif;
}
p,ul,h2,h3,h4{
    margin: 0px 300px 0px 300px;
    padding: 5px;
    


}
button{
    background-color: #f2849e;
    color: white;
    padding-left:60px;
    padding-right: 60px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 30px ;
    border: transparent;
    font-size: 1.5em;
}
button:hover{
    background-color: #ec4b75;
    color: rgb(223, 213, 213);
}
.book{
    border-right: 9px solid gray;
    margin-right:90px ;
    border-left: 9px solid gray;
}
.pre{
    margin: 60px 90px;
    

}
 hr.line{
width: 60%;
}